allure-pytest==2.16.0
allure-python-commons==2.16.0
attrs==26.1.0
black==26.3.1
certifi==2026.4.22
cfgv==3.5.0
charset-normalizer==3.4.7
click==8.3.3
distlib==0.4.0
filelock==3.29.0
flake8==7.3.0
identify==2.6.19
idna==3.13
iniconfig==2.3.0
isort==8.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
pluggy==1.6.0
pre-commit==3.6.2
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.0.3
pytest-dotenv==0.5.2
python-discovery==1.2.2
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
requests==2.33.1
urllib3==2.6.3
virtualenv==21.3.1
